<!-- <form method="POST" action="/dep/">
    <div class="card p-3 radius m-auto  " >
    <div class="card-body">
        <div class="form-group mt-2">
          <label for="">Nom :</label>
          <input type="text" value=" " class="form-control" name="nom" required>
        </div>
        <div class="form-group mt-2 ">
          <label for="">Description :</label>
          <textarea name="description" class="form-control"required></textarea>
        </div>
        
         <button type="submit" name="ajouter" class="btn mt-3 form-control btn-info btn-block">Ajouter</button>
        </div>
      </div>
   </form> -->